@model User;
@{
    ViewData["Title"] = "Home Page";
}
<div class="container" style="width: 400px;">
  <form asp-action="Method" asp-controller="Home" method="post">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row justify-content-between">
        <label asp-for="Name">Your Name: </label>
        <input type="text" asp-for="Name">
      </div>
      <div class="d-flex flex-row justify-content-between">
        <label asp-for="DojoLocation">Dojo Location: </label>
        <select asp-for="DojoLocation">
          <option value="dallas">Dallas</option>
          <option value="bellevue">Bellevue</option>
          <option value="arlington">Arlington</option>
          <option value="boise">Boise</option>
          <option value="chicago">Chicago</option>
          <option value="los_angeles">Los Angeles</option>
          <option value="oakland">Oakland</option>
          <option value="orange_county">Orange County</option>
          <option value="silicon_valley">Silicon Valley</option>
          <option value="tulsa">Tulsa</option>
        </select>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <label asp-for="Language">Favorite Language: </label>
        <select asp-for="Language">
          <option value="C#">C#</option>
          <option value="C++">C++</option>
          <option value="javascript">Javascript</option>
          <option value="python">Python</option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <label asp-for="Comment">Comment (Optional): </label>
      <textarea 
        asp-for="Comment" 
        title="Enter your comment here..." 
        placeholder="Enter your comment here..." 
        style="height: 100px; width: 100%; overflow: hidden; overflow-wrap: break-word; resize: none; margin-bottom: 2px;"
        id="textarea"></textarea>
    </div>
    <button class="float-right" style="margin-top: 5px;" type="submit">Submit</button>
  </form>
  <div class="d-flex flex-column">
    <span asp-validation-for="Name"></span>
    <span asp-validation-for="DojoLocation"></span>
    <span asp-validation-for="Language"></span>
    <span asp-validation-for="Comment"></span>
  </div>
</div>


